h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  padding:20px 0;
}
p {
  font-family: 'Quicksand', sans-serif;
  margin:25px 0;
}
.revealable {
  opacity:0;
  position: relative;
  bottom:-30px;
  @include transition(.5s);
}
.revealed {
  opacity:1;
  bottom:0;
}
